
body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
#app{
    margin:auto;
    /* background-color: #444444; */
    background: linear-gradient(-45deg, #f4f1ec, #e5dece, #ecd7d2, #c59c96);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.audio_intro {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio_start-form {
    text-align: center;
}
.audio_title {
    font-family: 'Roboto Bold';
    color: #a07f88;
    margin-top: 40px;
}
.audio_intro-text, .audio-text-for-checkbox{
    font-family: 'Roboto Regular';
    color: #a07f88;
    font-size: 20px;
    margin-top: 40px;
}
.audio_round-number{
    margin-left: 15px;
}

.audio-difficulty-level-select, .audio-round-number-select {
    cursor:pointer;
    display: inline-block;
    width: 210px;
    height: 34px;
    line-height: 30px;
    position: relative;
    background-color: rgba(0, 120, 201, 0.1);
    text-align-last:center;
}
.main_page_option {
    font-family: 'Roboto Regular';
    font-size: 15px;
}
.audio_intro-button-wrapper{
    margin-top: 40px;
}
.audio_btn {
    font-family: 'Roboto Regular';
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(0, 120, 201, 0.1);
    border: none;
    color: #a07f88;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline: none;
}
.audio_intro-btn .audio_text-intro-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.audio_intro-btn .audio_text-intro-button:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.audio_intro-btn:hover .audio_text-intro-button {
    padding-right: 25px;
}
.audio_intro-btn:hover .audio_text-intro-button:after {
    opacity: 1;
    right: 0;
}


.audio_container {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.audio_sound_button{
    border: #6d7486 2px solid;
    border-radius: 50%;
    background-image: url('../../assets/img/headphones.png');
    width: 120px;
    height: 120px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    opacity: 0.3s;
}
.audio_sound_button:hover{
    animation: shake 0.3s;  
    animation-iteration-count: 0.2s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.audio_english_translate{
    font-family: 'Roboto Regular';
    color: #a07f88;
    font-size: 30px;
    margin-top: 33px;
    cursor: pointer;
}

.audio_english_translate::before {
    content: "🔉";
}

.audio_russian_words__wrapper{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.audio_russian_word_to_choose{
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Roboto Regular';
    color: #a07f88;
    font-size: 20px;
    cursor: pointer;
}

.audio_russian_word_to_choose:hover{
    border: 2px solid black; /* Параметры границы */
    border-radius: 15px;
    border-color: #6d7486;
    background-color: #ece1d0;
    transition: 0.3s;
    padding: 3px;
}

.audio-text-for-checkbox{
    padding-bottom: 10px;
    
}
.audio-checkbox-my-words{
    margin-left: 5px;
}

.audio_dont_know_button__wrapper{
    margin-top: 70px;
}
.audio_next_button__wrapper{
    margin-top: 27px;
}
.audio_dont_know_button, .audio_next_button {
    height: 50px;
    width: 300px;
    background-color: rgba(170,170,170,0);
    font-family: 'Roboto Regular';
    color: #a07f88;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    border-color: #6d7486;
    box-shadow: 0 9px #999;
    outline: none;
}
.audio_dont_know_button:hover, .audio_next_button:hover {
    background-color: #ece1d0;
    
}


.audio_dont_know_button:active, .audio_next_button:active {
    background-color: #ece1d0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.audio_image_on_main_page {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    opacity: 0.3s;
    margin-left: 20px;
}
.audio_right_answer::after{
    content: "✅";
}
.audio_results{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
}
.audio_results-container{
    text-align: center;
}
.audio_results-title{
    font-family: 'Roboto Regular';
    color: #a07f88;
    font-size: 40px;
}
.audio_result_img {
    background-image: url('../../assets/img/register.png');
    width: 120px;
    height: 120px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    margin: auto;
}
.audio_errors, .audio_succes{
    font-family: 'Roboto Regular';
    color: #a07f88;
    font-size: 20px;
    display: inline;
    margin-left: 20px;
}
.audio_succes-num, .audio_errors-num{
    margin-left: 7px;
}
.audio_succes-num{
    color: green;
}
.audio_errors-num{
    color: #bf1616;
}
.audio_hidden {
    display: none;
}
.audio_disabledWord {
    pointer-events: none;
    opacity: 0.4;
}
@media (max-width: 515px){
    .audio_russian_words__wrapper{
        padding-right: 50px;
        flex-direction: column;
    }
}
@media (max-width: 434px){
    .audio_round-number{
        margin-left: 0px;;
    }
}
