{
    "printWidth": 120,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "requirePragma": false,
    "singleQuote": true,
    "semi": false
  }
  