body {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
}

.own-game-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.own-game-wrong-guesses {
  font-size: 20px;
  
  text-align: right;
  margin-right: 20px;
}