* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  box-sizing: border-box;
}

.own-game-main-container {
  background-image: url('../../assets/img/wordbubbles/ownGame-startBackground-cut.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.own-game-main-wrapper {
  position: absolute;
  width: 600px;
  height: 300px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.85);
  left: calc(50% - 530px / 2);
  top: 250px;
}

.own-game-centered-block {
  margin-top: 30px;
  text-align: center;
}

.own-game-name-game {
  color: #1b4c5c
}

.own-game-description {
  color: #1a4a5f
}

button {
  transition: .3s;
}

#own-game-score {
  display: flex;
  flex-flow: column;
}

.own-game-score-points {
  font-size: 34px;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: opacityToggle 2.7s;
  -webkit-animation: opacityToggle 2.7s;
}

@-webkit-keyframes opacityToggle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityToggle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.own-game-btn-wrapper {
  padding-top: 30px;
  width: 400px;
  margin: 0 auto;
}

.own-game-btn {
  border-radius: 17px;
  color: #fff;
  border: none;
  margin-left: 10px;
}

.own-game-how-to-play {
  width: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  height: 34px;
  outline: none;
  border: none;
  background-color: #969696;
}

.own-game-go-to-play {
  width: 86%;
  height: 34px;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #f0693c;
}

.own-game-btn:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-5px);
}

button:active,
button:focus {
  outline: none;
}

.own-game-level-hard {
  position: absolute;
  left: 27%;
}

.own-game-hardness {
  margin-left: 16px;
  padding-left: 5px;
  border-radius: 14px;
  width: 80px;
  height: 28px;
  outline: none;
  border: none;
}

.own-game-hardness:active,
.own-game-hardness:hover {
  outline: none;
  border: none;
  border-radius: 14px;
}

.own-game-label-hardness {
  font-size: 18px;
  color: #1b4c5c;
}

.own-game-close-icon {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/wordbubbles/close.png');
}

.own-game-close-icon:hover {
  transform: translateY(-5px);
}

.own-game-modal-window {
  position: absolute;
  left: calc(50% - 990px / 2);
  top: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 520px;
  width: 1000px;
  border-radius: 9px;
  padding: 15px;
}

.own-game-tooltip-points-wrapper {
  margin-top: 55px;
  text-align: center;
  color: #1b4c5c
}

.own-game-tooltip-points {
  font-size: 18px;
}

#own-game-modal-window-header {
  position: relative;
}

#own-game-how-to-play {
  position: absolute;
  color: #1b4c5c;
  text-align: center;
  left: calc(50% - 190px / 2);
}

.own-game-tooltip-points-column {
  justify-content: center;
  align-items: center;
}

.own-game-tooltip-img {
  width: 320px;
  padding-top: 40px;
}

#own-game-score-wrapper {
  text-align: center;
  padding-top: 90px;
  color: #fff;
  font-size: 55px;
}

.own-game-input-place {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 90px;
  width: 100%;
  color: rgb(33, 37, 41);
  height: 45px;
}

.own-game-game-input {
  width: calc(100% - 500px);
  border-radius: 22px;
  color: rgb(83, 94, 94);
  cursor: text;
  height: 44px;
  font-size: 22px;
  border: none;
  padding-left: 42px;
  outline: none;
}

.own-game-first-letters {
  position: relative;
  left: 40px;
  font-weight: 500;
  font-size: 22px;
}

.own-game-game-enter {
  height: 46px;
  width: 90px;
  border-radius: 23px;
  background-color: #f0693c;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 10px;
}

.close-icon-game {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/wordbubbles/close.png');
}

#own-game-output {
  position: absolute;
  top: 85px;
  left: 14px;
  width: 67px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 300;
  font-size: 32px;
  font-family: sans-serif;
}

#own-game-slider {
  display: none;
  position: absolute;
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.own-game-ending-container {
  background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#own-game__result-h1 {
  color: #1b4c5c;
  text-align: center;
}

#own-game__result-is {
  font-size: 50px;
  text-align: center;
  color: #1b4c5c;
  padding: 40px;
  font-weight: 300;
}

.own-game-modal-window-ending {
  position: absolute;
  left: calc(50% - 790px / 2);
  top: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 250px;
  width: 60%;
  border-radius: 9px;
  padding: 15px;
}

#own-game__previous-results {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: 20px;
  color: #f0693c;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .own-game-main-container {
    width: 1024px;
    height: 1366px;
  }

  .own-game-main-wrapper {
    width: 700px;
    height: 690px;
    left: calc(50% - 690px / 2);
    top: 150px;
  }

  .own-game-centered-block {
    margin-top: 60px;
  }

  .own-game-btn-wrapper {
    padding-top: 110px;
  }

  .own-game-name-game {
    font-size: 70px;
  }

  .own-game-description {
    font-size: 40px;
    padding-top: 30px;
  }

  .own-game-btn {
    border-radius: 45px;
    margin-left: 25px;
  }

  .own-game-how-to-play {
    width: 90px;
    text-align: center;
    font-size: 50px;
    height: 90px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 65%;
    height: 90px;
    font-weight: 500;
    font-size: 50px;
  }

  .own-game-modal-window {
    position: absolute;
    left: calc(50% - 820px / 2);
    top: 150px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 1090px;
    width: 800px;
    border-radius: 9px;
    padding: 15px;

  }

  .own-game-tooltip-points-wrapper {
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
  }

  .own-game-tooltip-points {
    font-size: 30px;
  }

  #own-game-modal-window-header {
    position: relative;
  }

  #own-game-how-to-play {
    font-size: 50px;
    left: calc(50% - 365px / 2);
  }

  .own-game-tooltip-img {
    width: 420px;
    padding-top: 40px;
  }

  .own-game-label-hardness {
    font-size: 60px;
  }

  .own-game-hardness {
    font-size: 70px;
    height: 90px;
    width: 90px;
  }

  #own-game-output {
    position: absolute;
    top: 105px;
    left: 14px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 32px;
  }
  
  #own-game-slider {
    display: none;
  }

  .own-game-input-place {
    bottom: 160px;
    height: 45px;
  }
  
  .own-game-game-input {
    width: 60%;
    border-radius: 50px;
    height: 100px;
    font-size: 60px;
    padding-left: 82px;
  }
  
  .own-game-first-letters {
    left: 81px;
    font-weight: 500;
    font-size: 60px;
  }
  
  .own-game-game-enter {
    height: 100px;
    width: 120px;
    border-radius: 50px;
    font-size: 40px;
    margin-left: 10px;
  }
  
  .own-game-score-points {
    font-size: 80px;
    color: #fff;
  }

  #own-game-score-wrapper {
    padding-top: 110px;
    font-size: 125px;
  }

  .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1024px;
    height: 1366px;
  }

  .own-game-modal-window-ending {
    left: calc(17% + 13px);
    top: 250px;
    height: 450px;
    width: 60%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 50px;
    text-align: center;
    color: #1b4c5c;
    padding: 40px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 35px;
    color: #f0693c;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .own-game-main-container {
    height: 1024px;
    width: 768px;
  }

  .own-game-main-wrapper {
    width: 700px;
    height: 600px;
    left: calc(50% - 700px / 2);
    top: 250px;
  }

  .own-game-btn-wrapper {
    padding-top: 30px;
  }

  .own-game-name-game {
    font-size: 60px;
  }

  .own-game-description {
    font-size: 38px;
    padding-top: 30px;
  }

  .own-game-btn {
    border-radius: 35px;
    margin-left: 25px;
  }

  .own-game-how-to-play {
    width: 70px;
    font-size: 40px;
    height: 70px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 65%;
    height: 70px;
    font-weight: 500;
    font-size: 40px;
  }

  .own-game-modal-window {
    position: absolute;
    left: calc(50% - 735px / 2);
    top: 50px;
    height: 900px;
    width: 700px;
  }

  #own-game-how-to-play {
    font-size: 50px;
    left: calc(50% - 365px / 2);
  }

  .own-game-tooltip-img {
    width: 300px;
    padding-top: 40px;
  }

  .own-game-label-hardness {
    font-size: 40px;
  }

  .own-game-hardness {
    font-size: 50px;
    height: 80px;
    width: 80px;
  }
  #own-game-output {
    position: absolute;
    top: 105px;
    left: 14px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 32px;
  }
  
  #own-game-slider {
    height: 20px;
  }

  .own-game-input-place {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 140px;
    width: 100%;
    color: rgb(33, 37, 41);
    height: 45px;
  }
  
  .own-game-game-input {
    width: 60%;
    border-radius: 50px;
    height: 100px;
    font-size: 60px;
    padding-left: 82px;
  }
  
  .own-game-first-letters {
    left: 81px;
    font-weight: 500;
    font-size: 60px;
  }
  
  .own-game-game-enter {
    height: 100px;
    width: 120px;
    border-radius: 50px;
    font-size: 40px;
    margin-left: 10px;
  }
  
  .own-game-score-points {
    font-size: 80px;
    color: #fff;
  }

  #own-game-score-wrapper {
    padding-top: 110px;
    font-size: 125px;
  }
  .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 768px;
    height: 1024px;
  }

  .own-game-modal-window-ending {
    left: calc(17% + 13px);
    top: 250px;
    height: 450px;
    width: 60%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 50px;
    text-align: center;
    color: #1b4c5c;
    padding: 40px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    font-size: 25px;
    color: #f0693c;
    padding-top: 20px;
  }
}

@media (max-width: 690px) {
  .own-game-main-container {
    height: 1014px;
  }

  .own-game-main-wrapper {
    width: 600px;
    height: 400px;
    left: calc(50% - 200px / 2);
    top: 250px;
  }

  .own-game-btn-wrapper {
    padding-top: 30px;
  }

  .own-game-name-game {
    font-size: 60px;
  }

  .own-game-description {
    font-size: 38px;
    padding-top: 30px;
  }

  .own-game-btn {
    border-radius: 35px;
    margin-left: 25px;
  }

  .own-game-how-to-play {
    width: 70px;
    font-size: 40px;
    height: 70px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 65%;
    height: 70px;
    font-weight: 500;
    font-size: 40px;
  }

  .own-game-modal-window {
    position: absolute;
    left: calc(50% - 735px / 2);
    top: 50px;
    height: 900px;
    width: 700px;
  }

  #own-game-how-to-play {
    font-size: 50px;
    left: calc(50% - 365px / 2);
  }

  .own-game-tooltip-img {
    width: 300px;
    padding-top: 40px;
  }
}

@media (max-width: 414px) {
  .own-game-main-container {
    height: 736px;
    width: 414px;
  }

  .own-game-main-wrapper {
    width: 390px;
    height: 510px;
    left: 3%;
    top: 170px;
  }

  .own-game-btn-wrapper {
    padding-top: 30px;
    width: 380px;
  }

  .own-game-name-game {
    font-size: 50px;
  }

  .own-game-description {
    font-size: 28px;
    padding-top: 30px;
  }

  .own-game-btn {
    border-radius: 25px;
    margin-left: 15px;
    font-size: 40px;
  }

  .own-game-how-to-play {
    width: 50px;
    height: 50px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 75%;
    height: 50px;
    font-weight: 500;
  }

  .own-game-label-hardness {
    font-size: 25px;
  }

  .own-game-hardness {
    font-size: 30px;
    height: 60px;
    width: 60px;
  }

  .own-game-modal-window {
    position: absolute;
    left: 3%;
    top: 90px;
    height: 550px;
    width: 355px;
    padding: 15px;
  }

  #own-game-how-to-play {
    font-size: 30px;
    left: 20%;
  }

  .own-game-tooltip-points {
    font-size: 20px;
  }
  .own-game-tooltip-img {
    width: 180px;
    padding-top: 10px;
  }
  
  .own-game-tooltip-points-wrapper {
    display: none;
    margin-top: 35px;
  }

  #own-game-output {
    top: 106px;
    left: 16px;
    font-size: 52px;
  }
  
  #own-game-slider {
    display: none;
  }

  .own-game-input-place {
    display: flex;
    flex-flow: column;
    bottom: 130px;
    height: 45px;
  }
  
  .own-game-game-input {
    width: 60%;
    border-radius: 10px;
    height: 80px;
    font-size: 33px;
    padding-left: 54px;
  }
  
  .own-game-first-letters {
    position: absolute;
    left: 70px;
    top: -18px;
    font-size: 35px;
  }
  
  .own-game-game-enter {
    height: 80px;
    width: calc(73% + 2px);
    border-radius: 10px;
    font-size: 35px;
    margin-left: 0;
  }
  
  .own-game-score-points {
    font-size: 50px;
    color: #fff;
  }

  #own-game-score-wrapper {
    padding-top: 110px;
    font-size: 80px;
  }

  .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 414px;
    height: 736px;
  }

  .own-game-modal-window-ending {
    left: 10%;
    top: 150px;
    height: 400px;
    width: 73%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 40px;
    text-align: center;
    color: #1b4c5c;
    padding: 30px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
    color: #f0693c;
    padding-top: 20px;
  }
}

@media (max-width: 411px) and (min-width: 400px) {
  .own-game-main-container {
    height: 823px;
    width: 411px;
  }

  .own-game-main-wrapper {
    width: 390px;
    height: 510px;
    left: 3%;
    top: 170px;
  }

  .own-game-btn-wrapper {
    padding-top: 30px;
    width: 380px;
  }

  .own-game-name-game {
    font-size: 50px;
  }

  .own-game-description {
    font-size: 28px;
    padding-top: 30px;
  }

  .own-game-btn {
    border-radius: 25px;
    margin-left: 15px;
    font-size: 40px;
  }

  .own-game-how-to-play {
    width: 50px;
    height: 50px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 75%;
    height: 50px;
    font-weight: 500;
  }

  .own-game-label-hardness {
    font-size: 25px;
  }

  .own-game-hardness {
    font-size: 30px;
    height: 60px;
    width: 60px;
  }

  .own-game-modal-window {
    position: absolute;
    left: 3%;
    top: 90px;
    height: 550px;
    width: 355px;
    padding: 15px;
  }

  #own-game-how-to-play {
    font-size: 30px;
    left: 20%;
  }

  .own-game-tooltip-points {
    font-size: 20px;
  }
  .own-game-tooltip-img {
    width: 180px;
    padding-top: 10px;
  }
  
  .own-game-tooltip-points-wrapper {
    display: none;
    margin-top: 35px;
  }

    .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 411px;
    height: 823px;
  }

  .own-game-modal-window-ending {
    left: 10%;
    top: 150px;
    height: 450px;
    width: 73%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 40px;
    text-align: center;
    color: #1b4c5c;
    padding: 30px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 23px;
    color: #f0693c;
    padding-top: 20px;
  }
}

@media (max-width: 375px) {
  .own-game-main-container {
    height: 812px;
    width: 375px;
  }

  .own-game-main-wrapper {
    width: 350px;
    height: 520px;
    left: calc(50% - 350px / 2);
    top: 130px;
  }

  .own-game-btn-wrapper {
    padding-top: 10px;
    width: 350px;
  }

  .own-game-name-game {
    font-size: 57px;
  }

  .own-game-description {
    font-size: 30px;
    padding-top: 30px;
  }

  .own-game-btn {
    border-radius: 35px;
    margin-left: 10px;
  }

  .own-game-how-to-play {
    width: 70px;
    font-size: 35px;
    height: 70px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 70%;
    height: 70px;
    font-weight: 500;
    font-size: 40px;
  }

  .own-game-level-hard {
    left: 8%;
  }
  .own-game-label-hardness {
    font-size: 28px;
  }

  .own-game-hardness {
    font-size: 28px;
    height: 60px;
    width: 60px;
  }

  .own-game-modal-window {
    position: absolute;
    left: 3%;
    top: 60px;
    height: 650px;
    width: 325px;
    padding: 15px;
  }

  #own-game-how-to-play {
    font-size: 30px;
    left: 20%;
  }

  .own-game-tooltip-points {
    font-size: 20px;
  }
  .own-game-tooltip-img {
    width: 200px;
    padding-top: 10px;
  }
  
  .own-game-tooltip-points-wrapper {
    display: none;
    margin-top: 35px;
  }

  #own-game-output {
    top: 106px;
    left: 16px;
    font-size: 52px;
  }
  
  #own-game-slider {
    display: none;
  }

  .own-game-input-place {
    display: flex;
    flex-flow: column;
    bottom: 130px;
    height: 45px;
  }
  
  .own-game-game-input {
    width: 60%;
    border-radius: 10px;
    height: 80px;
    font-size: 33px;
    padding-left: 64px;
  }
  
  .own-game-first-letters {
    position: absolute;
    left: 70px;
    top: -19px;
    font-size: 35px;
  }
  
  .own-game-game-enter {
    height: 80px;
    width: 77%;
    border-radius: 10px;
    font-size: 35px;
    margin-left: 0;
  }
  
  .own-game-score-points {
    font-size: 50px;
    color: #fff;
  }

  #own-game-score-wrapper {
    padding-top: 110px;
    font-size: 80px;
  }

  .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 812px;
  }

  .own-game-modal-window-ending {
    left: 10%;
    top: 150px;
    height: 450px;
    width: 73%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 40px;
    text-align: center;
    color: #1b4c5c;
    padding: 30px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
    color: #f0693c;
    padding-top: 20px;
  }
}

@media (max-width: 360px) {
  .own-game-main-container {
    height: 640px;
    width: 360px;
  }

  .own-game-main-wrapper {
    width: 340px;
    height: 420px;
    left: calc(2% + 2px);
    top: 120px;
  }

  .own-game-btn-wrapper {
    padding-top: 20px;
    width: 350px;
  }

  .own-game-name-game {
    font-size: 40px;
  }

  .own-game-description {
    font-size: 25px;
    padding-top: 10px;
  }

  .own-game-btn {
    border-radius: 35px;
    margin-left: 10px;
    font-size: 40px;
  }

  .own-game-how-to-play {
    width: 50px;
    height: 50px;
    font-weight: 400;
  }

  .own-game-go-to-play {
    width: 70%;
    height: 50px;
    font-weight: 500;
  }

  .own-game-label-hardness {
    font-size: 20px;
  }

  .own-game-hardness {
    font-size: 20px;
    height: 50px;
    width: 50px;
  }

  .own-game-modal-window {
    position: absolute;
    left: 3%;
    top: 30px;
    height: 550px;
    width: 305px;
    padding: 15px;
  }

  #own-game-how-to-play {
    font-size: 30px;
    left: 20%;
  }

  .own-game-tooltip-points {
    font-size: 20px;
  }
  .own-game-tooltip-img {
    width: 180px;
    padding-top: 10px;
  }
  
  .own-game-tooltip-points-wrapper {
    display: none;
    margin-top: 35px;
  }

  .own-game-game-input {
    padding-left: 75px;
  }
  
  .own-game-first-letters {
    position: absolute;
    left: 66px;
    top: -17px;
    font-size: 35px;
  }

  .own-game-game-enter {
    width: 77%;
  }

  .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 640px;
  }

  .own-game-modal-window-ending {
    left: 10%;
    top: 90px;
    height: 450px;
    width: 73%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 40px;
    text-align: center;
    color: #1b4c5c;
    padding: 30px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 23px;
    color: #f0693c;
    padding-top: 20px;
  }
}

@media (max-width: 330px) {
  .own-game-main-container {
    height: 568px;
    width: 320px;
  }

  .own-game-main-wrapper {
    width: 300px;
    height: 440px;
    left: calc(50% - 300px / 2);
    top: 60px;
  }

  .own-game-btn-wrapper {
    padding-top: 10px;
    width: 300px;
  }

  .own-game-name-game {
    font-size: 50px;
  }

  .own-game-description {
    font-size: 20px;
    padding-top: 20px;
  }

  .own-game-btn {
    border-radius: 40px;
    margin-left: 9px;
    font-size: 30px;
  }

  .own-game-how-to-play {
    width: 60px;
    height: 60px;
    font-weight: 700;
  }

  .own-game-go-to-play {
    width: 70%;
    height: 60px;
    font-weight: 500;
  }

  .own-game-modal-window {
    left: calc(1% + 1px);
    top: 60px;
    height: 470px;
    width: 280px;
    padding: 15px;
  }

  #own-game-how-to-play {
    font-size: 30px;
    left: 20%;
  }

  .own-game-tooltip-points {
    font-size: 16px;
  }
  .own-game-tooltip-img {
    width: 160px;
    padding-top: 10px;
  }
  
  .own-game-tooltip-points-wrapper {
    display: none;
    margin-top: 35px;
  }

  
  .own-game-input-place {
    bottom: 130px;
    height: 45px;
  }
  
  .own-game-game-input {
    width: 60%;
    border-radius: 10px;
    height: 80px;
    font-size: 33px;
    padding-left: 78px;
  }
  
  .own-game-first-letters {
    position: absolute;
    left: 60px;
    top: -18px;
    font-size: 35px;
  }
  
  .own-game-game-enter {
    height: 80px;
    width: 84%;
    border-radius: 10px;
    font-size: 35px;
    margin-left: 0;
  }
  
  .own-game-score-points {
    font-size: 50px;
    color: #fff;
  }

  #own-game-score-wrapper {
    padding-top: 110px;
    font-size: 80px;
  }

  .own-game-ending-container {
    background-image: url('../../assets/img/wordbubbles/ownGame-gameBackground-65.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 568px;
  }

  .own-game-modal-window-ending {
    left: 10%;
    top: 40px;
    height: 450px;
    width: 70%;
    border-radius: 9px;
    padding: 15px;
  }
  
  #own-game__result-h1 {
    font-size: 50px;
  }
  
  #own-game__result-is {
    font-size: 40px;
    text-align: center;
    color: #1b4c5c;
    padding: 30px;
    font-weight: 300;
  }
  
  #own-game__previous-results {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
    color: #f0693c;
    padding-top: 20px;
  }
}