.settings-container{
  text-align: center;
  margin: 0 auto;
}

.settings-wordsperday {
  margin-top: 2rem;
}

.settings-newwords {
  margin-top: 2rem;
}

.settings-input {
  margin-left: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.settings-translate{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.settings-additional {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.settings-make-vocabulary {
  margin-top: 2rem;
}
.settings-show-answer {
  margin-top: 2rem;
}

.settings-control-panel {
  margin-top: 2rem;
}

.settings-container input[type=checkbox] {
  margin-left: 5px;
  cursor: pointer;
}

.settings-btn {
  margin: 0rem 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
}

.settings-container h3 {
  font-family: "Roboto Bold";
}

@media(hover: hover){
  .settings-btn:hover {
    background: #000000;
    color: #45b6fe;
  }
  .settings-btn:disabled:hover {
    background-color: #ffffff;
    color: grey; 
  }
}