* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.main-page__body {
  background-image: url('https://sun9-35.userapi.com/en_UBEhbPTr_A_H5OuuGe4oh7a3B6hGJBLCh9A/wIuIkQjRReQ.jpg');
  /* background-image: url('https://sun2-4.userapi.com/a56wq5e5hZYlOVQmZCRpXJFgssnnfirXdtuBHw/488fVtB-lDY.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  background-position: center center;
  /* background-size: 100% 100vh; */
}
  /*
  text-align: center;
  vertical-align: middle;
  padding-top: 200px; */
 
  .main-page-linguist-container {
    padding: 50px;
    display: flex;
    background-color: rgba(250, 250, 240, 0.8);
  } 

  .linguist-stats, .linguist-control {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linguist-progress-bar {
    margin-top: 1rem;
  }

  /* .linguist-stats {
    flex-direction: column;
  } */

  .info {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .cards{
    padding: 5rem;
    border: 1px solid #12394f;
    border-radius: 5px;
  }
  
  .stat {
    display: flex;
    flex-direction: column;
  }
  
  .about {
    display: flex;
    flex-direction: column;
  }
  
  footer .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9rem;
    font-size: 1rem;
    background-color: #9eaec5;
    color: #ffffff;
  }
  
  button:hover {
    color: #12394f;
  }
  
  header li:hover {
    color: #12394f; 
  }


.main-page__h1 {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  color: #742a92;
}

.main-page__h5 {
  font-weight: 300;
  font-size: 20px;
}

.mini-games {
  background-color: rgba(250, 250, 240, 0.8);
}

.main-page__mini-game-separator {
  border: 2px;
  border-radius: 50%;
  width: 95%;
  margin: 0 auto;
  background-color: #742a92;
}

.main-page__separator {
  background-color: #ffffff;
  border: 1px;
}

#filling-element-wrapper-padding {
  padding-top: 60px;
}

.main-page__mini-games {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  justify-items: center;
}

.main-page__mini-game {
  max-height: 300px;
  min-height: 290px;
  margin-bottom: 50px;
}

.main-page__additions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  justify-items: center;
  padding-top: 25px;
}

.main-page__addition {
  padding: 15px;
}

.card-additions {
  display: block;
  position: relative;
  border-radius: 10px 10px 0 0;
  width: 390px;
  height: 210px;
  background-color: rgba(240, 240, 240, 0.85);
  box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-additions-img {
  position: absolute;
  left: 225px;
  top: 40px;
  /* width: 130px;
  padding-top: 15px;
  padding-left: 15px;
  height: 130px; */
}

.card-additions__h1 {
  position: absolute;
  font-size: 45px;
  left: 25px;
  top: 58px;
  color: #2e2e2e;
}

.card-additions__h5 {
  position: absolute;
  left: 25px;
  top: 104px;
  font-size: 35px;
  color: rgba(46, 46, 46, 0.4)
}

.main-page-btn {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background: #ffffff;
  color: #335fe7;
  border: 2px solid #335fe7;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}

#card-additions-1 {
  border-image: linear-gradient(#0B0E7F , #0B95DD);
  border-bottom: 5px solid transparent;
  border-image-slice: 1;
}

#card-additions-2 {
  border-image: linear-gradient(red, orange);
  border-bottom: 5px solid transparent;
  border-image-slice: 1;
}

#card-additions-3 {
  border-image: linear-gradient(#ffd86f, #fc6262);
  border-bottom: 5px solid transparent;
  border-image-slice: 1;
}

#card-additions-4 {
  border-image: linear-gradient(#00C853, #B2FF59);
  border-bottom: 5px solid transparent;
  border-image-slice: 1;
}

.main-page-father-div__h1 {
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  padding: .84rem 2.14rem;
  color: #d10318;
}

.elegant-color {
  background-color: #2e2e2e !important
}

.elegant-color-dark {
  background-color: #212121 !important
}

.stylish-color {
  background-color: #4b515d !important
}

.stylish-color-dark {
  background-color: #3e4551 !important
}

.unique-color {
  background-color: #3f729b !important
}

.unique-color-dark {
  background-color: #1c2331 !important
}

.special-color {
  background-color: #37474f !important
}

.special-color-dark {
  background-color: #263238 !important
}

.purple-gradient {
  background: linear-gradient(40deg, #ff6ec4, #7873f5) !important
}

.peach-gradient {
  background: linear-gradient(40deg, #ffd86f, #fc6262) !important
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important
}

.blue-gradient {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important
}

.purple-gradient-rgba {
  background: linear-gradient(40deg, rgba(255, 110, 196, 0.9), rgba(120, 115, 245, 0.9)) !important
}

.peach-gradient-rgba {
  background: linear-gradient(40deg, rgba(255, 216, 111, 0.9), rgba(252, 98, 98, 0.9)) !important
}

.aqua-gradient-rgba {
  background: linear-gradient(40deg, rgba(32, 150, 255, 0.9), rgba(5, 255, 163, 0.9)) !important
}

.blue-gradient-rgba {
  background: linear-gradient(40deg, rgba(69, 202, 252, 0.9), rgba(48, 63, 159, 0.9)) !important
}

.purple-light-pink-gradient {
  background: linear-gradient(40deg, #7691cb, #f2d0e1) !important
}

.green-pink-gradient {
  background: linear-gradient(40deg, #f8c7b9, #a5d5a1) !important
}

.yellow-blue-gradient {
  background: linear-gradient(40deg, #fddd62, #a3d9cb) !important
}

.green-light-color-gradient {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
}

.pink-gradient-1 {
  background: linear-gradient(190deg, #e892af, #c0e7ee) !important
}

.pink-gradient-2 {
  background: linear-gradient(45deg, #eb423d 0%, #ffb635 33%, #b1bd73 66%, #3396e7 100%) !important;
}

.pink-gradient-3 {
  background: linear-gradient(130deg, #6787f6, #ff327a) !important
}

.pink-gradient-4 {
  background: linear-gradient(40deg, #f1a2bf, #f0ccda) !important
}

.pink-gradient-5 {
  background: linear-gradient(190deg, #f14f8b, #f1bcd0) !important
}

.pink-gradient-6 {
  background: linear-gradient(40deg, #d4dbd4, #ff9497) !important
}

.green-gradient {
  background: linear-gradient(10deg, #00C853, #B2FF59);
}

.primary-color-dark {
  background-color: #0d47a1 !important
}

.secondary-color {
  background-color: #a6c !important
}

.secondary-color-dark {
  background-color: #93c !important
}

.default-color {
  background-color: #2bbbad !important
}

.default-color-dark {
  background-color: #00695c !important
}

.info-color {
  background-color: #33b5e5 !important
}

.info-color-dark {
  background-color: #09c !important
}

.success-color {
  background-color: #00c851 !important
}

.success-color-dark {
  background-color: #007e33 !important
}

.white {
  background-color: #fff !important
}

.rounded-circle {
  border-radius: 50% !important;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 18px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.testimonial-card {
  width: 280px;
  height: 320px;
}

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-weight: 400;
  /* border: 0; */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.testimonial-card .avatar {
  width: 120px;
  /* margin-top: -60px; */
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: -60px auto 0 auto;
}

.testimonial-card .avatar img {
  width: 100%
}

.testimonial-card .card-body {
  text-align: center;
}

#big-logo {
  /* color: #fd3156; */
  color: #fff;
  text-align: center;
  /* padding: 50px 0 0 540px; */
  font-size: 142px;
  padding-top: 50px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  
}

#rs {
  color: #2b83ff;
}

#big-logo-text {
  text-align: center;
  margin-top: 250px;
  font-size: 30px;
  color: #fff;
  padding-left: 50px;
  /* padding: 20px 140px 0 0; */
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.filling-element-wrapper {
  background-repeat: no-repeat;
  justify-content: start;
  align-items: start;
  background-size: cover;
  height: 720px;
  background-position: center center;
  background-image: url('https://sun9-26.userapi.com/9kRA7qFsNTMI8uQemTQiXQkFA2UoHNYhLDVR8A/wmrCYxVpLMo.jpg');
  /* background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); */
  /* transform: rotate(180deg); */
}

footer {
  display: flex;
  position: relative;
  min-height: 120px;
  justify-content: space-between;
  padding: 50px;
  border-bottom: 50px solid #dadada;
}

#footer__h1 {
  background: linear-gradient(#0eb6ff, #164dc1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  font-size: 64px;
  float: left;
}

.footer__text {
  color: #2e2e2e;
  text-decoration: none;
  padding-bottom: 6px;
}

#year {
  position: absolute;
  font-weight: 300;
  font-size: 16px;
  top: 210px;
}
.footer__h3 {
  font-size: 22px;
  margin-bottom: 14px;
}

#second-column {
  display: flex;
  flex-flow: column;
}

.footer__h3:first-letter {
  border-bottom: 3px solid #335fe7;
}

.linguist-select,
.linguist-select:active,
.linguist-select:hover {
  outline: none;
}

@media only screen and (max-width: 1060px) {
  .main-page__mini-games {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-additions {
    width: 450px;
    height: 250px;
  }
}

@media only screen and (max-width: 880px) {
  .main-page__body {
    background-position: center center;
    height: auto;
    background-size: cover;
    /* background-size: 100% 100vh; */
  }
  
  .main-page__mini-games {
    grid-template-columns: 1fr 1fr;
  }

  .card-additions {
    width: 340px;
    height: 200px;
  }
  
  #big-logo {
    font-size: 100px;
    padding: 30px;
  }

  #big-logo-text {
    font-size: 18px;
    margin-top: 80px;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .main-page__additions {
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .card-additions {
    width: 530px;
    height: 140px;
  }

  .main-page__addition {
    padding: 8px;
  }

  .card-additions {
    position: relative;
  }
  
  .card-additions-img {
    left: 400px;
    top: 0px;
    width: 100px;
  }
  
  .card-additions__h1 {
    left: 30px;
    top: 46px;
    font-size: 48px;
  }

  .card-additions__h5 {
    font-size: 28px;
    top: 92px;
    left: 35px;
  }
}

@media only screen and (max-width: 576px) {
  .main-page__mini-games {
    grid-template-columns: 1fr;
  }
  
  #big-logo {
    font-size: 100px;
    padding: 10px;
  }

  #big-logo-text {
    font-size: 14px;
    padding: 5px;
  }

  .main-page__additions {
    grid-template-columns: 1fr;
    padding-top: 0;
  }
  
  .card-additions {
    width: 450px;
    height: 140px;
  }

  .main-page__addition {
    padding: 8px;
  }

  .card-additions {
    position: relative;
  }
  
  .card-additions-img {
    left: 320px;
    top: 0px;
    width: 100px;
  }
  
  .card-additions__h1 {
    left: 30px;
    top: 50px;
    font-size: 50px;
  }

  .card-additions__h5 {
    font-size: 28px;
    top: 96px;
  }
}

@media only screen and (max-width: 414px) {
  .main-page__mini-games {
    grid-template-columns: 1fr;
  }
  
  #big-logo {
    font-size: 60px;
    padding: 30px;
  }

  #big-logo-text {
    font-size: 14px;
    padding: 5px;
  }

  footer {
    flex-flow: column;
    border: none;
  }

  #year {
    display: none;
  }
  .main-page__additions {
    grid-template-columns: 1fr;
    padding-top: 0;
  }
  
  .card-additions {
    width: 379px;
    height: 140px;
  }

  .main-page__addition {
    padding: 8px;
  }

  .card-additions-img {
    left: 260px;
    top: 0px;
    width: 100px;
  }
  
  .card-additions__h1 {
    left: 30px;
    top: 40px;
    font-size: 50px;
  }

  .card-additions__h5 {
    font-size: 28px;
    top: 86px;
  }
}

@media only screen and (max-width: 376px) {
  footer {
    flex-flow: column;
    border: none;
  }

  #year {
    display: none;
  }

  .card-additions {
    width: 330px;
    min-height: 140px;
  }

  .main-page__addition {
    padding: 8px;
  }

  .card-additions {
    position: relative;
  }
  
  .card-additions-img {
    left: 220px;
    top: 0px;
    width: 100px;
  }
  
  .card-additions__h1 {
    left: 30px;
    top: 50px;
    font-size: 30px;
  }

  .card-additions__h5 {
    font-size: 25px;
    top: 96px;
  }
}

@media only screen and (max-width: 376px) {
  .card-additions {
    width: 310px;
    height: 140px;
  }

  .card-additions-img {
    left: 192px;
    top: 0px;
    width: 100px;
  }
  
  .card-additions__h1 {
    left: 30px;
    top: 50px;
    font-size: 30px;
  }

  .card-additions__h5 {
    font-size: 25px;
    top: 96px;
  }
}

@media only screen and (max-width: 330px) {
  .card-additions {
    width: 300px;
    height: 140px;
  }

  .main-page__addition {
    padding: 8px;
  }

  .card-additions {
    position: relative;
  }
  
  .card-additions-img {
    left: 190px;
    top: 0px;
    width: 100px;
  }
  
  .card-additions__h1 {
    left: 30px;
    top: 50px;
    font-size: 28px;
  }

  .card-additions__h5 {
    font-size: 25px;
    top: 86px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .main-page-linguist-container {
    flex-direction: column;
    padding: 25px;
  }

  .linguist-stats, .linguist-control {
    width: 100%;
  }

  .linguist-control {
    padding-top: 1rem;
  }
}