.header-container {
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background: #10cbff;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0.01rem;
  user-select: none;
  z-index: 55;
}

header .header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  z-index: 55;
}

.header-main-nav-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: 0.01rem;
  font-size: 1.5rem;
}

.header-nav ul {
  list-style: none;
}

.header-nav{
  display: none;
  position: absolute;
  width: 250px;
  top: 3.5rem;
  right: 0;
  text-align: left;
  border-radius: 0 0 0 8px;
  padding-top: 0.5rem;
  height: calc(100vh - 56px);
  background: linear-gradient(180deg, #10cbff, #0a82f2);
  z-index: 55;
}

.header-nav .header-link {
  font-size: 1.5rem;
  padding: 0.25rem 4rem 0.25rem 2rem;
  transition: all 0.2s ease;
}

.header-nav .header-profile-nav .header-link{
  font-size: 1.25rem;
  padding: 1rem 4rem 1rem 2rem;
  border-top: 1px solid #ffffff;
}  

.header-navActive {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shadow-background {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-color: rgba(45,48,58, 0.7);
  z-index: 50;
}

.shadow-background-active {
  display: block;
}

@media (min-width: 320px) and (max-width: 768px) { 
  header {
    height: 98px;
  }

  header .header-container {
    flex-direction: column;
    padding: 1rem 5rem;
  }

  .header-nav .header-link {
    font-size: 1rem;
  }
  
  .header-nav .header-profile-nav .header-link{
    font-size: 0.75rem;
  }  

  .shadow-background {
    top: 98px; 
  }

  .header-nav{ 
    top: 5.5rem;
    height: calc(100vh - 88px);
  }
}  

@media(hover: hover){
  .header-main-nav-btn:hover {
    cursor: pointer;
    color: #12394f;
  }
  
  .header-link:hover {
    transition: .6s;
    cursor: pointer;
    color: #12394f; 
  }
}