.header-container {
  margin: 0 auto;
}

header {
  background: #7987a1;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0.01rem;
  user-select: none;
}

header .header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
}

.header-main-nav-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: 0.01rem;
  font-size: 1.5rem;
}

.header-nav ul {
  list-style: none;
}

.header-nav{
  display: none;
  position: absolute;
  width: 250px;
  top: 3.5rem;
  right: 0;
  text-align: left;
  padding-top: 0.5rem;
  height: calc(100vh - 56px);
  background: #7987a1;
  z-index: 10;
}

.header-nav .header-link {
  font-size: 1.5rem;
  padding: 0.25rem 4rem 0.25rem 2rem;
}

.header-nav .header-profile-nav .header-link{
  font-size: 1.25rem;
  padding: 1rem 4rem 1rem 2rem;
  border-top: 1px solid #ffffff;
}  

.header-navActive {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



@media (min-width: 320px) and (max-width: 768px) { 
  .header-container {
    flex-direction: column;
  }

  .header-nav{ 
    top: 5.5rem;
  }
}  

@media(hover: hover){
  .header-main-nav-btn:hover {
    cursor: pointer;
    color: #12394f;
  }
  
  .header-link:hover {
    cursor: pointer;
    color: #12394f; 
  }
}