.vocabulary-container {
  width: 550px;
  margin: 0 auto;
}

.vocabulary-tabs {
  position: relative;
  padding: 2rem 0;
}

.vocabulary-tab, .vocabulary-tab-title {
  display: inline-block;
}

.vocabulary-tab input[type="radio"] { display: none; }
.vocabulary-tab-title {
  background: #000000;
  padding: 5px 10px;
  border: 1px solid #666;
  border-bottom: none;
  color: #ffffff;
  cursor: pointer;
}

.vocabulary-tab-content {
  position: absolute;
  border: 1px solid #666;
  padding: 10px;
  left: 0;
  display: none;
}

.vocabulary-tab :checked + .vocabulary-tab-title {
  position: relative;
  background: #fff;
  color: #000000;
  top: 1px;
  z-index: 1;
}

.vocabulary-tab :checked ~ .vocabulary-tab-content {
  display: block; 
}

.vocabulary-hard-words-list, .vocabulary-delete-words-list {
  list-style: none;
}

.vocabulary-hard-words-container, .vocabulary-delete-words-container {
  padding-top: 1rem;
}

.vocabulary-word-item {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.vocabulary-page-btn {
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
  .vocabulary-container {
    width: 300px;
  }

  .vocabulary-word-item {
    width: 280px;
    font-size: 0.75rem;
  }  

  .vocabulary-page-btn {
    padding: 0.25rem 0.5rem;
  }  
}


@media(hover: hover){
  .vocabulary-page-btn:hover, .vocabulary-tab-title:hover, .vocabulary-tab :checked + .vocabulary-tab-title:hover {
    background: #000000;
    color: #45b6fe;
  }
}