* {
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .6s; 
    transition-timing-function: ease;
    margin: 0;
    padding: 0;
  }

body {
    color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }