

.box-aboutUs {
    position: relative;
    display: block;
    min-height: 100vh;
    /* background: linear-gradient(to top left, #3471FF, #87D0FD); */
     background-size: 100%; 
    background:  url(../../assets/img/bg-purple.png) center no-repeat;
}

.slider-container-aboutUs{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    max-width: 800px;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.aboutUs-title{
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 300;
    padding-top: 40px;
}

.aboutUs-slide{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
}

.aboutUs-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.aboutUs-picture img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.aboutUs-text{
    max-width: 500px;
    min-width: 400px;
    width: 100%;
    height: 300px;
    text-align: left;
    color: black;
    overflow: hidden;
}

.aboutUs-text h2{
    font-size: 30px;
    font-weight: 400;
    padding-top: 30px;
    word-spacing: 10px;
}
.aboutUs-text p{
    display: block;
    padding: 10px 50px 20px 0;
    word-spacing: 5px;
    line-height: 20px;
    font-size: 20px;
}

.aboutUs-text a{
    color: black;
    font-size: 20px;
}

.next, .prev {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 15px;
    height: 100%;
    color: rgb(112, 107, 107);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    cursor: pointer;
}

.next{
    right: 0;
}

.next:hover, .prev:hover {
    background: rgba(0, 0, 0, 0.2);
}

.fade{
    animation-name: fade-aboutUs;
    animation-duration: .5s;
}

@keyframes fade-aboutUs {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(../../assets/img/wave.png);
    animation: animate 10s linear infinite;
  }
  
.wave:before {
    content: '';
    width: 100%;
    height: 143px;
    background: url(../../assets/img/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
  }
  
.wave:after {
    content: '';
    width: 100%;
    height: 143px;
    background: url(../../assets/img/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position: 0;
    }
  
    100% {
      background-position: 1360px;
    }
  }
  
  @keyframes animate-reverse {
    0% {
      background-position: 1360px;
    }
  
    100% {
      background-position: 0;
    }
  }

  @media(max-width: 600px){
    .aboutUs-title{
        transform: translateY(240px);
    }
    .slider-container-aboutUs{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        width: 300px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .aboutUs-slide{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        min-height: 300px;
        background-color: #fff;
    }
    
    
    .aboutUs-text{
        min-width: 200px;
        width: 300px;
        min-height: 300px;
        text-align: center;
    }
    .aboutUs-text h2{
        width: 300px;
    }
    .aboutUs-text p{
        padding: 50px 0px 20px 0;
        width: 300px;
    }
  }